{% extends "base.html" %} {% block title %} Your OTP Code {% endblock title %}
{% block header %} One-Time Password{% endblock header %} {% block content %}

<p>Hello ,</p>

<p>Your One-Time Password (OTP) for login is :</p>
<h2
  style="text-align:center; padding:10px background-color: #f8f9fa; border-radius:4px"
>
  {{opt}}
</h2>

<p>
  This OTP is valid for {{expire_time}} minutes. Please use it within this time
  frame to complete your login process
</p>
<p>
  If you did not requires this OTP, please ignore this email and contact our
  services support team immediately.
</p>
{% endblock content %}
